include header

div(class='wrap')
    div(class='content')
        header(class='site-header')
            include site_header_order.pug

        div(class='container')
            div(class='row order-wrapper')
                div(class='col col-md-12')
                    h3(class="cart-header") Кошик:
                    div(id='cart-nav')
                div(class='col col-md-12')
                    h3 Ваші дані для замовлення:
                div(class='col col-md-6')
                    form#lite-shop-order(action="")
                        div(class='form-control')
                            label(for='username') Ім'я:
                            input(
                                type='text',
                                id='username',
                                placeholder="Іван"
                            )
                        div(class='form-control')
                            label(for='phone') Телефон:
                            input(
                                type='text',
                                id='phone',
                                placeholder="+380638437619"
                            )
                        div(class='form-control')
                            label(for='email') Email:
                            input(
                                type='text',
                                id='email',
                                placeholder="mail@example.com"
                            )
                        div(class='form-control')
                            label(for='adress')
                            textarea(
                                id='adress',
                                placeholder='Ваша адресса'
                            )
                        div(class='form-control')
                            label(for='rule')
                                input(
                                    type='checkbox',
                                    id='rule',
                                    value='1'
                                )
                                span    Правила та умови
                        div(class='form-control text-right order-btn_wrapper')
                            button(class='button-primary finish-order_btn', type='submit') Оформити замовлення

        include footer
        script(src='scripts/order.js')